<a href="https://colab.research.google.com/github/andikajuliant/Data-Mining/blob/main/ppc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv('Indonesia_volcano.csv')

In [6]:
df.head()

,Unnamed: 0,Name,Shape,Elevation,Last Eruption,Coordinates,Island
0,0,Weh,stratovolcano,"617 metres (2,024 ft)",Pleistocene,5°49′N 95°17′E﻿,Sumatra
1,1,Seulawah Agam,stratovolcano,"1,810 metres (5,940 ft)",1839 (2),5°26′53″N 95°39′29″E﻿,Sumatra
2,2,Peuet Sague,complex volcano,"2,801 metres (9,190 ft)",25 December 2000 (2),4°54′50″N 96°19′44″E﻿,Sumatra
3,3,Geureudong,stratovolcano,"2,885 metres (9,465 ft)",1937,4°48′47″N 96°49′12″E﻿,Sumatra
4,4,Kembar,shield volcano,"2,245 metres (7,365 ft)",Pleistocene,3°51′00″N 97°39′50″E﻿,Sumatra

In [16]:
nominal = pd.get_dummies(df['Island'])
nominal

,-,Adonara Island,Bali,Banda Sea,Flores,Halmahera,Komba island,Lembata,Lombok,Palu'e,Pantar Island,Sangeang,Sulawesi and Sangihe Islands,Sumatra,Sumbawa,Sunda Strait and Java
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
145,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
146,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
147,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
148,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [17]:
df_2 = pd.concat([df, nominal], axis='columns')
df_2

,Unnamed: 0,Name,Shape,Elevation,Last Eruption,Coordinates,Island,-,Adonara Island,Bali,...,Komba island,Lembata,Lombok,Palu'e,Pantar Island,Sangeang,Sulawesi and Sangihe Islands,Sumatra,Sumbawa,Sunda Strait and Java
0,0,Weh,stratovolcano,"617 metres (2,024 ft)",Pleistocene,5°49′N 95°17′E﻿,Sumatra,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,Seulawah Agam,stratovolcano,"1,810 metres (5,940 ft)",1839 (2),5°26′53″N 95°39′29″E﻿,Sumatra,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,Peuet Sague,complex volcano,"2,801 metres (9,190 ft)",25 December 2000 (2),4°54′50″N 96°19′44″E﻿,Sumatra,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,Geureudong,stratovolcano,"2,885 metres (9,465 ft)",1937,4°48′47″N 96°49′12″E﻿,Sumatra,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,Kembar,shield volcano,"2,245 metres (7,365 ft)",Pleistocene,3°51′00″N 97°39′50″E﻿,Sumatra,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,144,Moti,stratovolcano,"950 metres (3,120 ft)",unknown,0°27′N 127°24′E﻿,Halmahera,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,145,Makian,stratovolcano,"1,357 metres (4,452 ft)",29 July 1988 (3),0°19′N 127°24′E﻿,Halmahera,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,146,Tigalalu,stratovolcano,"422 metres (1,385 ft)",unknown,0°04′N 127°25′E﻿,Halmahera,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,147,Amasing,stratovolcano,"1,030 metres (3,380 ft)",unknown,0°32′S 127°29′E﻿,Halmahera,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,148,Bibinoi,stratovolcano,"900 metres (3,000 ft)",unknown,0°46′S 127°43′E﻿,Halmahera,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_2.drop(columns=['Island'], inplace=True)
df_2

,Unnamed: 0,Name,Shape,Elevation,Last Eruption,Coordinates,-,Adonara Island,Bali,Banda Sea,...,Komba island,Lembata,Lombok,Palu'e,Pantar Island,Sangeang,Sulawesi and Sangihe Islands,Sumatra,Sumbawa,Sunda Strait and Java
0,0,Weh,stratovolcano,"617 metres (2,024 ft)",Pleistocene,5°49′N 95°17′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,Seulawah Agam,stratovolcano,"1,810 metres (5,940 ft)",1839 (2),5°26′53″N 95°39′29″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,Peuet Sague,complex volcano,"2,801 metres (9,190 ft)",25 December 2000 (2),4°54′50″N 96°19′44″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,Geureudong,stratovolcano,"2,885 metres (9,465 ft)",1937,4°48′47″N 96°49′12″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,Kembar,shield volcano,"2,245 metres (7,365 ft)",Pleistocene,3°51′00″N 97°39′50″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,144,Moti,stratovolcano,"950 metres (3,120 ft)",unknown,0°27′N 127°24′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,145,Makian,stratovolcano,"1,357 metres (4,452 ft)",29 July 1988 (3),0°19′N 127°24′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,146,Tigalalu,stratovolcano,"422 metres (1,385 ft)",unknown,0°04′N 127°25′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,147,Amasing,stratovolcano,"1,030 metres (3,380 ft)",unknown,0°32′S 127°29′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,148,Bibinoi,stratovolcano,"900 metres (3,000 ft)",unknown,0°46′S 127°43′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_2

,Unnamed: 0,Name,Shape,Elevation,Last Eruption,Coordinates,-,Adonara Island,Bali,Banda Sea,...,Komba island,Lembata,Lombok,Palu'e,Pantar Island,Sangeang,Sulawesi and Sangihe Islands,Sumatra,Sumbawa,Sunda Strait and Java
0,0,Weh,stratovolcano,"617 metres (2,024 ft)",Pleistocene,5°49′N 95°17′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,Seulawah Agam,stratovolcano,"1,810 metres (5,940 ft)",1839 (2),5°26′53″N 95°39′29″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,Peuet Sague,complex volcano,"2,801 metres (9,190 ft)",25 December 2000 (2),4°54′50″N 96°19′44″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,Geureudong,stratovolcano,"2,885 metres (9,465 ft)",1937,4°48′47″N 96°49′12″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,Kembar,shield volcano,"2,245 metres (7,365 ft)",Pleistocene,3°51′00″N 97°39′50″E﻿,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,144,Moti,stratovolcano,"950 metres (3,120 ft)",unknown,0°27′N 127°24′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,145,Makian,stratovolcano,"1,357 metres (4,452 ft)",29 July 1988 (3),0°19′N 127°24′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,146,Tigalalu,stratovolcano,"422 metres (1,385 ft)",unknown,0°04′N 127°25′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,147,Amasing,stratovolcano,"1,030 metres (3,380 ft)",unknown,0°32′S 127°29′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,148,Bibinoi,stratovolcano,"900 metres (3,000 ft)",unknown,0°46′S 127°43′E﻿,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0